/Front/obj/Debug/net8.0
/Front/bin/Debug/net8.0
/Crud/.vs/Crud/v17
Crud/.vs/Crud/DesignTimeBuild/.dtbcache.v2
Crud/.vs/Crud/FileContentIndex/030cf423-14e4-400c-b145-af9055722d6a.vsidx
Crud/.vs/Crud/FileContentIndex/0ff59246-b674-443f-8188-e13b9e9faad7.vsidx
